<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Twiseless</title>
    </head>
    <body>
      <p>Ooops it broke.</p>
    </body>
</html>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Javaninjat" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Matkanaator - Error</title>
    </head>
    <body>
        <h1>404 Error!</h1>
        <p>Oops, there was an error...</p>
    </body>
</html>
