<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Javaninjat" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Matkanaattori - ${pointer}</title>
        <link href="static/css/style.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        <div id="matkanator">
                <div id="timer_frame">
                    <div id="header_title">Matkanator</div>
                    <div id="header_subtext">Makes sure that you are in time!</div>
                    % if not user:
                        <div id="header_subtext"> go in <span id="time_left">06:13</span> to next event </div>
                        <div id="header_subtext"> at <span id="next_event">Agora Alfa</span></div>
                        <script src="static/js/geolocation.js"></script>
                    % endif
                </div>
                <div id="user_frame">
                    % if user:
                        <ul>
                            <li>Welcome using matkanaattori!</li>
                            <li>User: ${user}</li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    % else:
                        <ul>
                            <li>Welcome using matkanaattori!</li>
                            <li><a href="/logout">&raquo; Login</a></li>
                            <li><a href="/register">&raquo; Register</a></li>
                        </ul>
                    % endif
                </div>
        </div>
    </body>
</html>
