<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Javaninjat" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Matkanaator - ${pointer}</title>
        <link href="static/css/style.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="../static/js/common.js"></script>
    </head>
    <body>
        <div id="matkanator">
            <div id="header_frame">
                <h1>Matkanator</h1>
                <h2>Makes sure that you are in time!<h2>
            </div>
            <div id="user_frame">
                % if user:
                    <ul>
                        <li>Welcome using matkanaattori!</li>
                        <li>User: ${user}</li>
                        <li><a href="/settings">&raquo; Settings</a></li>
                        <li><a href="/logout">&raquo; Logout</a></li>
                    </ul>
                % else:
                    <ul>
                        <li>Welcome using matkanaattori!</li>
                        <li><a href="/login">&raquo; Login</a></li>
                        <li><a href="/register">&raquo; Register</a></li>
                    </ul>
                % endif
            </div>
            <div id="timer_frame">
                % if user:
                    <script src="static/js/geolocation.js"></script>
                % endif
            </div>
        </div>
        <div id="footer">
            <p>Copyright <span id="date"></span> &copy; Javaninjat</p>
        </div>
    </body>
</html>
