<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Javaninjat" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/jquery.countdown.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="../static/js/common.js"></script>
        <script src="../static/js/jquery.plugin.min.js"></script>
        <script src="../static/js/jquery.countdown.min.js"></script>
        <title>Matkanaator - ${pointer}</title>
    </head>
    <body>
        <div id="matkanator">
            <div id="header_frame">
                <h1>Matkanator</h1>
                <h2>Makes sure that you are in time!</h2>
                % if user:
                  <h2 id="error" class='error_msg'></h2>
                  <div id="timer_frame">
                    <div id='countdown'></div>
                    <div id='header_subtext'> to next event <br/>
                      at <span id='next_event'></span>
                    </div>
                    <script src="static/js/geolocation.js"></script>
                  </div>
                % endif
            </div>
            <div id="user_frame">
                % if user:
                    <ul>
                        <li>Welcome using matkanaattori!</li>
                        <li>User: ${user}</li>
                        <li><a href="/settings">&raquo; Settings</a></li>
                        <li><a href="/logout">&raquo; Logout</a></li>
                    </ul>
                % else:
                    <ul>
                        <li>Welcome using matkanaattori!</li>
                        <li><a href="/login">&raquo; Login</a></li>
                        <li><a href="/register">&raquo; Register</a></li>
                    </ul>
                % endif
            </div>
        </div>
        <div id="footer">
            <p><a href="/">Home</a> | <a href="extension">Download Extension</a></p>
            <p>Copyright <span id="date"></span> &copy; Javaninjat</p>
        </div>
    </body>
</html>
