<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Javaninjat" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/style.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="../static/js/common.js"></script>
        <title>Matkanator - ${pointer}</title>
    </head>
    <body>
        <h1>Matkanaattori - Locator</h1>
        <p>${result}</p>
    </body>
</html>