<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Javaninjat" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Matkanaattori - Register</title>
        <link href="../static/css/style.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        <div id="matkanator">
            <h1>Matkanaattori Registration</h1>
            % if register is False:
                <p>${msg}</p>
                <form action="submit" method="post">
                    <div><label> User Name: <input type="text" name="username" value="${username}"/> </label></div>
                    <div><label> Password: <input type="password" name="password" value="${password}"/> </label></div>
                    <div><label> Timezone: <input type="text" name="timezone" value="${timezone}"/> </label></div>
                    <div><label> Calendar URL: <input type="text" name="calendar_url" value="${calendar_url}"/> </label></div>
                    <div><input type="submit" value="Register"/></div>
                </form>
            % else :
                <p>${msg}</p>
            % endif
        </div>
    </body>
</html>
